
 <div class="container">
      <div class="card mx-auto mt-5">
        <div class="card-body">
            <%= form_with(model: profile, local: true) do |form| %>
              <% if profile.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

                  <ul>
                  <% profile.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <!--  modificar vista -->
					<div class="form-group">
						<div class="form-row">
							<div class="column-md-6">
								<label id="lbId">Id:</label>
								<input type="number" id="id_profile" name="profile[id]" class="form-control" placeholder="Ingrese ID"
                value="<%= @profile != nil ? @profile.id : ''  %>" />
								<!--<%= form.label :id %>
								<%= form.number_field :id, id: :profile_id %>-->
							</div>
							<div class="column-md-6">
								<label id="lb">Descripcion:</label>
								<input type="text" id="descripcion_profile" name="profile[descripcion]" class="form-control" placeholder="Ingrese descripcion" 
                value="<%= @profile != nil ? @profile.descripcion : ''  %>" />
								<!--<%= form.label :descripcion %>
								<%= form.text_field :descripcion, id: :profile_descripcion %>-->
							</div>
						</div>
					</div>                    

          <div class="form-group">
						<div class="form-row">
							<div class="column-md-12">
									<%= form.submit %>
                  <input type="submit" id="btnAceptar" value="Aceptar" class="btn btn-primary" name="btnAceptar" />
							</div>
						</div>
					</div>	
				<% end %>	
            </div>
    </div>          
</div>
         